/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    display: inline;
}

.nav-links {
    list-style-type: none;
    float: right;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links li a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background: url('https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQz7YO0X0uNKx1M_I0huA851eMymatdluWBMKbNP3nP2hTRRMBtwFLuWssy09V5qq-U44B9CRQxMerW1zfWFC690LHDbb929UPdNPjleDg&usqp=CAE') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #ff4c68;
    color: white;
    border: none;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff2a4e;
}

/* Products Section */
.products {
    padding: 60px 0;
    background-color: #f4f4f4;
}

.section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: #333;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product h3 {
    font-size: 24px;
    margin: 20px 0 10px 0;
}

.product p {
    font-size: 18px;
    color: #555;
}

.btn-outline {
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid #333;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-outline:hover {
    background-color: #333;
    color: white;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}
